<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>565360872604-7euffhp0ukditt46b8lgj81u3b2os5bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565360872604-7euffhp0ukditt46b8lgj81u3b2os5bp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvWh6xH8gdf64lCoXhuUjFhrk58x0QSUo</string>
	<key>GCM_SENDER_ID</key>
	<string>565360872604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pedroherrera.com.Browser</string>
	<key>PROJECT_ID</key>
	<string>database1-ab40f</string>
	<key>STORAGE_BUCKET</key>
	<string>database1-ab40f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565360872604:ios:e97792b77503a03a</string>
	<key>DATABASE_URL</key>
	<string>https://database1-ab40f.firebaseio.com</string>
</dict>
</plist>